<template>
    <div class="dashboard">
        <div class="dashboard--top">
            <div class="logo">
                <div class="loading--name">FLUPPY&nbsp;<span class="light">VUE</span></div>
            </div>
            <div class="coins">
                <i class="fas fa-donate"></i>&nbsp;{{$store.state.game.coins}} &nbsp;
                <i class="fas fa-coins"></i>&nbsp;{{$store.state.dashboard.totalCoins}}
            </div>
        </div>
        <div class="dashboard--center">
            <div class="dashboard--center-jumbotron">
                <div v-if="$store.state.dashboard.gaming === true">
                    <div class="wrapper">
                        <p class="gaming">
                            * Klavye tuşlarından "W" tuşu ile yükselme ve "D" tuşu ile ilerleme hareketleri yapılır.
                            <br>
                            *  <a class="gaming-href--settings" @click="$store.commit('openSettings')">Ayarlar</a> kısmından ilerleme kısmını otomatik olarak ayarlayabilirsiniz.
                            <br>
                            * Yükselme ve Ilerleme hareketlerini <a class="gaming-href--shop" @click="$store.commit('openShop')">mağaza</a> kısmından ürün satın alarak hızlandırabilirsiniz.
                        </p>
                    </div>
                </div>
                <div v-if="$store.state.dashboard.settings === true">
                    <div class="wrapper">
                        <h3>Oynanış</h3>
                        <!--form-->
                        <SettingFrom :formName="$store.state.dashboard.autoNext" name="autoNext"></SettingFrom>
                    </div>
                    <div class="wrapper">
                        <h3>Mod</h3>
                        <SettingFrom :formName="$store.state.dashboard.nightMode" name="nightMode"></SettingFrom>
                    </div>
                    <div class="wrapper">
                        <h3>Engeller</h3>
                        <div class="radio__container">
                            <label class="number__label">Engel Sayısı : </label>
                            <input type="number" class="number"
                                   v-model="$store.state.game.engellerLength"
                                   placeholder="min. 5, max. 50 engel tercih edilir">
                        </div>
                    </div>
                    <div class="wrapper">
                        <div class="btnOption save" @click="optionSave()">Kaydet</div>
                        <div class="btnOption clear" @click="optionClear()">Verileri Sil</div>
                    </div>
                </div>
                <div v-if="$store.state.dashboard.shop === true">
                    <div class="wrapper">
                        <h3>İlerleme : </h3>
                        <!--product-level-->
                        <ProductLevel :levelName="$store.state.dashboard.nextLevel"
                                      functionName="nextLevel"></ProductLevel>
                    </div>
                    <div class="wrapper">
                        <h3>Yükselme : </h3>
                        <!--product-level-->
                        <ProductLevel :levelName="$store.state.dashboard.upLevel" functionName="upLevel"></ProductLevel>
                    </div>
                    <div class="wrapper">
                        <h3>Araç Rengi : </h3>
                        <ul class="product-level">
                            <li class="helicopter-color"
                                v-for="helicopterColor in $store.state.dashboard.helicopterColors"
                                :key="helicopterColor.id" :class="helicopterColor.color"
                                @click="helicopterColorClick(helicopterColor)">
                                <span v-if="helicopterColor.checked && helicopterColor.sold" class="check"><i
                                        class="fas fa-check"></i></span>
                                <span v-else-if="!helicopterColor.sold">
                                    <span class="lock"><i class="fas fa-lock"></i></span>
                                    <span class="item-price"><i class="fas fa-coins"></i> 100</span>
                                </span>
                                <span v-else></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard--bottom">
            <div class="dashboard--bottom-buttons">
                <!--button-->
                <DashboardButton buttonMethod="gaming" iconName="fas fa-info-circle"
                                 buttonName="Oynanış"></DashboardButton>
                <DashboardButton buttonMethod="settings" iconName="fas fa-cogs" buttonName="Ayarlar"></DashboardButton>
                <DashboardButton buttonMethod="shop" iconName="fas fa-store" buttonName="Mağaza"></DashboardButton>
                <DashboardButton buttonMethod="gamestart" iconName="far fa-play-circle"
                                 buttonName="Oyuna Başla"></DashboardButton>
            </div>
        </div>
    </div>
</template>

<script>
    import ProductLevel from "@/components/ProductLevel.vue"
    import SettingFrom from "@/components/SettingForm.vue"
    import DashboardButton from "@/components/DashboardButton.vue"

    export default {
        name: "Dashboard",
        components: {ProductLevel, SettingFrom, DashboardButton},
        data: function () {
            return {}
        },
        methods: {
            helicopterColorClick(helicopterColor) {
                this.$store.commit('helicopterColor', helicopterColor)
            },
            optionSave() {
                this.$store.commit('engelLengthMethod')
            },
            optionClear() {
                window.localStorage.clear();
                window.location.reload();
            }
        }
    }
</script>

<style scoped>

</style>