<template>
    <div class="home">
        <div class="game">
            <!--topLabel-->
            <Movement></Movement>
            <!--helicopter-->
            <Helicopter></Helicopter>
            <div class="engeller">
                <div class="engel" v-for="engel in $store.state.game.engeller" :key="engel.id" :id="'hop' + engel.id">
                    <div class="engeltop" :style="{height: engel.topHeight + '%'}">
                        <div class="b1"></div>
                        <div class="b2"></div>
                    </div>
                    <div class="engelbottom" :style="{height: engel.bottomHeight + '%'}">
                        <div class="b1"></div>
                        <div class="b2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    // @ is an alias to /src
    import JQuery from 'jquery';
    import Helicopter from '@/components/Helicopter.vue'
    import Movement from '@/components/Movement.vue'

    let $ = JQuery;
    export default {
        name: 'home',
        components: {Helicopter, Movement},
        mounted() {
            this.refreshGameData();
            if (!this.$store.state.dashboard.nightMode) {
                $('body').addClass('lightMode')
            }
            setInterval(() => {
                this.$store.state.game.nextActive ? this.$store.state.game.goCount -= 10 : '';
                if (this.$store.state.dashboard.autoNext) {
                    this.$store.state.game.leftCount += 20;
                    document.scrollingElement.scrollLeft = this.$store.state.game.leftCount;
                }
            }, 100);
        },
        methods: {
            refreshGameData() {
                this.$store.state.game.goCount = 0;
                this.$store.state.game.leftCount = 0;
                this.$store.state.game.helicopterTop = 1;
                this.$store.state.game.nextActive = false;
            }
        }
    }
</script>
