<template>
    <div class="button-container" :id="buttonMethod + '-btn'" @click="modalOpenGaming()">
        <div class="button"><i :class="iconName"></i> {{buttonName}}</div>
    </div>
</template>

<script>
    export default {
        name: "DashboardButton",
        props: ['buttonMethod', 'iconName', 'buttonName'],
        methods: {
            modalOpenGaming() {
                if (this.buttonMethod === 'gaming') {
                    this.$store.commit('openGaming')
                } else if (this.buttonMethod === 'settings') {
                    this.$store.commit('openSettings')
                } else if (this.buttonMethod === 'shop') {
                    this.$store.commit('openShop')
                } else if (this.buttonMethod === 'gamestart') {
                    this.$parent.optionSave();
                    this.$router.push({name: 'home'});
                    location.reload();
                }
            }
        }
    }
</script>

<style scoped>

</style>