<template>
    <div>
        <div class="helicopter" id="helicopter" :class="$store.state.dashboard.selectedHelicopterColor"
             :style="{bottom: $store.state.game.goCount + 'px', transition: 'all ' + 300 + 'ms ease-out', left: $store.state.game.leftCount + 'px', transition: 'all ' + 800 + 'ms ease-out'}">
            <div class="cockpit"></div>
            <div class="tail"></div>
            <div class="main"></div>
            <div class="rotor">
                <div class="rotator">
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="smallrotor">
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</template>

<script>
    import JQuery from 'jquery';

    let $ = JQuery;
    export default {
        name: "Helicopter",
        data: function () {
            return {
                helicopterRight: 1,
            }
        },
        mounted() {
            setInterval(() => {
                this.gameControl();
            }, 100);
        },
        methods: {
            gameControl() {
                var pageTop = $(window).scrollTop();
                var helicopterTopOffset = $('#helicopter').offset().top;
                this.$store.state.game.helicopterTop = Math.floor(helicopterTopOffset - pageTop);

                var helicopter = this.$store.state.game.helicopterTop + 100;
                var engelTopHeightList = [];
                var helicopterRightList = [];
                var engelBottomOffsetTopList = [];
                var i = 0;
                do {
                    i++;
                    var helicopterLeftOffset = $('#helicopter').offset().left;
                    this.$store.state.game.coins = helicopterLeftOffset;
                    this.$store.state.game.coins = Math.ceil(helicopterLeftOffset / 450 - 1) * 10;


                    var engelLeftOffset = $('#hop' + i).offset().left;
                    this.helicopterRight = {
                        on: Math.floor(helicopterLeftOffset - engelLeftOffset) + 110,
                        arka: Math.floor(helicopterLeftOffset - engelLeftOffset)
                    };


                    var engelTopHeight = Math.floor($('#hop' + i + ' .engeltop').innerHeight());
                    engelTopHeightList.push(engelTopHeight);
                    helicopterRightList.push(this.helicopterRight);

                    var engelBottomOffsetTop = Math.floor($('#hop' + i + ' .engelbottom').offset().top);
                    engelBottomOffsetTopList.push(engelBottomOffsetTop);


                } while (i < this.$store.state.game.engeller.length);
                var carpisma = false;
                engelTopHeightList.forEach(function (engelTopHeight) {
                    helicopterRightList.forEach(function (helicopterRight) {
                        engelBottomOffsetTopList.forEach(function (engelBottomOffsetTop) {
                            if (helicopterRight.on > 0 && helicopterRight.on < 50 && helicopter + 50 <= engelTopHeight || helicopterRight.arka + 110 > 0 && helicopterRight.arka < 50 && helicopter + 50 <= engelTopHeight || helicopterRight.arka + 110 > 0 && helicopterRight.arka < 50 && helicopter + 50 > engelBottomOffsetTop + 50) {
                                carpisma = true
                            }
                        });
                    });
                });
                if (carpisma === true || this.$store.state.game.engeller.length === this.$store.state.game.coins / 10) {
                    this.$router.push({name: 'dashboard'});
                    var dashboardCoin = Math.ceil(helicopterLeftOffset / 450 - 1) * 10;
                    this.$store.commit('totalCoinsCalculation', dashboardCoin);
                }
            },
        }
    }
</script>

<style scoped>

</style>