<template>
    <div class="loading">
        <div class="loading--name">FLUPPY&nbsp;<span class="light">VUE</span></div>
        <div class="loading--bar">
            <div class="loading--bar-in" :style="{width: loadingCount + 'px'}"></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Loading",
        data: function () {
            return {
                loadingCount: 0,
            }
        },
        created() {
            setInterval(() => {
                if (this.loadingCount !== 200) {
                    this.loadingCount += 20;
                }
                else {
                    this.$router.push({name: 'dashboard'});
                }
            }, 200)

        }
    }
</script>

<style scoped>

</style>