<template>
    <div class="topLabel">
        <div class="topLabel--score">
            <span class="topLabel--score-name"><i class="fas fa-donate"></i>&nbsp;</span>
            <button v-on:keydown.d="start" v-on:keyup.d="stop"
                    v-on:keydown.w="up" v-on:keyup.w="down" autofocus
                    value="ileri" class="topLabel--score-count">{{$store.state.game.coins}}
            </button>
        </div>
    </div>
</template>

<script>
    import JQuery from 'jquery';

    let $ = JQuery;
    export default {
        name: "Movement",
        data: function () {
            return {
                interval: false,
            }
        },
        methods: {
            up() {
                if (!this.interval) {
                    this.interval = setInterval(() => {
                        this.$store.state.game.goCount += 20;
                        var pageTop = $(window).scrollTop();
                        var helicopterTopOffset = $('#helicopter').offset().top;
                        this.$store.state.game.helicopterTop = Math.floor(helicopterTopOffset - pageTop);
                        if (this.$store.state.game.helicopterTop < -50) {
                            document.write('boom')
                        }
                    }, 50);
                }
            },
            down() {
                clearInterval(this.interval);
                this.interval = false;
                this.$store.state.game.nextActive = true;
            },
            start() {
                if (!this.interval && !this.$store.state.dashboard.autoNext) {
                    this.interval = setInterval(() => {
                        this.$store.state.game.leftCount += 20;
                        document.scrollingElement.scrollLeft = this.$store.state.game.leftCount;
                    }, 50);
                }
            },
            stop() {
                clearInterval(this.interval);
                this.interval = false;
                this.$store.state.game.nextActive = true;
            },
        }
    }
</script>

<style scoped>

</style>