<template>
    <div>
        <ul class="product-level">
            <li class="product" :class="levelName >= 1 ? 'active' : ''"></li>
            <li class="product" :class="levelName >= 2 ? 'active' : ''"></li>
            <li class="product" :class="levelName >= 3 ? 'active' : ''"></li>
            <li class="product" :class="levelName >= 4 ? 'active' : ''"></li>
            <li class="product" :class="levelName >= 5 ? 'active' : ''"></li>
            <button @click="levelClick()"><i class="fas fa-arrow-up"></i> Yükselt</button>
            <span class="item-price"><i class="fas fa-coins"></i> 100</span>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "ProductLevel",
        props: ['levelName', 'functionName'],
        methods: {
            levelClick() {
                this.$store.commit(this.functionName)
            }
        }
    }
</script>

<style scoped>

</style>