<template>
    <div>
        <form>
            <input id="awesome-item-2" name="radio" type="radio"
                   :checked="formName"
                   @click="gameSettings()">
            <label for="awesome-item-2" v-text="name == 'autoNext' ? 'Otomatik İlerleme' : 'Gece Modu'"></label>
            <input id="awesome-item-1" name="radio" type="radio"
                   :checked="!formName"
                   @click="gameSettings(formName)">
            <label for="awesome-item-1" v-text="name == 'autoNext' ? 'Manuel İlerleme' : 'Gündüz Modu'"></label>
        </form>
    </div>
</template>

<script>
    export default {
        name: "SettingForm",
        props: ['formName', 'name'],
        methods: {
            gameSettings() {
                this.name === 'autoNext' ? this.$store.state.dashboard.autoNext = !this.$store.state.dashboard.autoNext :
                    this.$store.state.dashboard.nightMode = !this.$store.state.dashboard.nightMode
            }
        }
    }
</script>

<style scoped>

</style>