@import "modal";

.dashboard {
  padding: 25px 90px;
  &--top {
    width: 100%;
    margin-bottom: 50px;
    .logo {
      padding-left: 50px;
      float: left;
      .loading--name {
        color: #5c6979;
      }
    }
    .coins {
      padding-right: 50px;
      float: right;
      font-size: 25px;
      color: #5c6979;
      i {
        color: gold;
      }
    }
  }
  &--center {
    margin-bottom: 50px;

    &-jumbotron {
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
      background: #f2f2f2;
      border: 1px solid #ccc;
      color: #171e35;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      max-height: 400px;

      .gaming {
        line-height: 1.2;
        text-align: justify;
        .keyboard {
          font-size: 30px;
          padding-right: 20px;
          color: #415e85;
        }
        .gaming-href {
          text-decoration: underline;
          font-weight: lighter;
          &--settings {
            text-decoration-color: #ff8c00;
            color: #ff8c00;
          }
          &--shop {
            text-decoration-color: #dc143c;
            color: #dc143c;
          }
        }
      }

      .wrapper {
        max-width: 700px;
        padding: 10px 0;
        margin: 0 auto;

        .btnOption {
          width: 250px;
          text-align: center;
          color: #f2f2f2;
          border-radius: 10px;
          font-family: "Roboto", sans-serif;
          font-weight: 900;
          font-size: 20px;
          line-height: 2;
          cursor: pointer;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          display: inline-block;
          &.save {
            background: dodgerblue;
          }
          &.clear {
            background: crimson;
            margin-left: 10px;
          }
        }
      }

      ul.product-level {
        display: flex;
        margin: 10px 0;
        .product {
          border: 1px solid #ccc;
          width: 15px;
          height: 30px;
          background: transparent;
          &.active {
            background: #ee8a29;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          }
        }
        button {
          margin-left: 25px;
          width: 100px;
          background: #415e85;
          color: #f2f2f2;
          font-size: 15px;
          font-weight: 400;
          line-height: 2;
          border: none;
          cursor: pointer;
        }
        .item-price {
          line-height: 2;
          margin-left: 10px;
          color: #5c6979;
          i {
            color: gold;
          }
        }
        .helicopter-color {
          margin-left: 10px;
          height: 50px;
          width: 50px;
          border-radius: 100%;
          border: 1px solid #ccc;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          .check {
            color: #415e85;
            z-index: 100;
            font-size: 20px;
            text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          }
          .item-price {
            margin-left: 2px;
            font-size: 10px;
            text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            color: #000;
          }
          .lock {
            color: black;
            z-index: 100;
            font-size: 10px;
          }
          &.black {
            background: black;
          }
          &.red {
            background: red;
          }
          &.orange {
            background: orange;
          }
          &.green {
            background: green;
          }
        }
      }
    }
  }
  &--bottom {
    padding: 10px;
    margin-bottom: 50px;
    position: absolute;
    bottom: 0;
    &-buttons {
      margin: 0 auto;
      display: table;

      .button-container {
        width: 256px;
        height: 64px;
        position: relative;
        display: inline-block;
        user-select: none;
        cursor: pointer;
        float: left;
        margin: 25px;
      }

      .button {
        box-shadow: inset 0 1px rgba(255, 255, 255, .25),
        0 20px 20px -10px rgba(0, 0, 0, .25);
        width: 256px;
        height: 64px;
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        line-height: 64px;
        font-family: "Roboto", sans-serif;
        text-align: center;
        font-weight: 900;
        font-size: 24px;
        border-radius: 5px;
        transform: translateX(-50%) translateY(-50%);
      }
    }
  }
  #gamestart-btn > * {
    background: dodgerblue;
  }
  #settings-btn > * {
    background: darkorange;
  }
  #shop-btn > * {
    background: crimson;
  }
  #gaming-btn > * {
    background: yellowgreen;
  }
}