.helicopter {
  position: relative;
  display: flex;
  margin-left: 100px;
  margin-top: 350px;
  z-index: 105;
  -webkit-transform: rotate(-15deg) scale(0.9);
  -moz-transform: rotate(-15deg) scale(0.9);
  -ms-transform: rotate(-15deg) scale(0.9);
  -o-transform: rotate(-15deg) scale(0.9);
  transform: rotate(-5deg) scale(0.9);

  &.turn {
    transform: rotatey(150deg);
  }
}

.helicopter .cockpit {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  position: fixed;
  overflow: hidden;
  background-color: #181b27;
  z-index: 5;
  left: 70px;
  top: 10px;
}

.helicopter .cockpit:before {
  content: "";
  width: 70px;
  height: 70px;
  border-radius: 30px;
  background-color: #415e85;
  position: absolute;
  z-index: 5;
  top: -40px;
  right: -43px;
}

.helicopter .cockpit:after {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  z-index: 8;
  top: 3px;
  left: 22px;
}

.helicopter .tail {
  position: absolute;
  border-top: 37px solid transparent;
  border-bottom: 0 solid transparent;
  border-top-right-radius: 10px;
  border-right: 84px solid #181b27;
  border-bottom-right-radius: 10px;
  height: 10px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.helicopter .main {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 30px solid #181b27;
  width: 10px;
  position: absolute;
  left: 66px;
  top: -8px;
}

.helicopter .smallrotor {
  animation: rotate 0.6s linear 0s infinite normal none;
  -webkit-animation: rotate 0.6s linear 0s infinite normal none;
  background-color: rgba(28, 18, 2, 0.02);
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
  left: -20px;
  border-radius: 100px;
  overflow: hidden;
}

.helicopter .smallrotor div {
  width: 120px;
  height: 10px;
  background-color: rgba(28, 18, 2, 0.03);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -60px;
  margin-top: -5px;
}

.helicopter .smallrotor div:nth-of-type(2) {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.helicopter .rotor {
  width: 150px;
  height: 150px;
  border-radius: 350px;
  position: absolute;
  top: -85px;
  left: 0;
  overflow: hidden;
  background-color: rgba(28, 18, 2, 0.03);
  -webkit-transform: scale(1, 0.075);
  transform: scale(1, 0.075);
  z-index: 20;
}

.helicopter .rotor .rotator {
  width: 150px;
  height: 150px;
  border-radius: 350px;
  position: absolute;

  animation: rotate 0.6s linear 0s infinite normal none;
  -webkit-animation: rotate 0.6s linear 0s infinite normal none;
}

.helicopter .rotor .rotator div {
  width: 150px;
  height: 60px;
  background-color: rgba(28, 18, 2, 0.03);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -350px;
  margin-top: -30px;
}

.helicopter .rotor div:nth-of-type(1) {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.helicopter .rotor div:nth-of-type(2) {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}