.loading {
  display: grid;
  font-family: sans-serif;
  margin-top: 25%;
  &--name {
    font-size: 35px;
    color: #c2c7c7;
    margin: 0 auto;
    display: flex;
    text-align: center;
    font-weight: bolder;
    span {
      font-weight: 200!important;
    }
  }
  &--bar {
    width: 200px;
    height: 3px;
    background: #c2c7c7;
    margin: 10px auto;
    position: relative;
    border: 1px solid black;

    &-in {
      height: 3px;
      background: red;
      position: absolute;
      left: 0;
      transition: 500ms;
    }
  }
}