.modal {
  margin: 10% auto;
  max-width: 500px;
  background: #fff;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  z-index: 100;
  &--top, &--bottom {
    min-height: 10px;
    background: #5c6979;
    padding: 5px;
    &-close {
      float: right;
      width: 10px;
      height: 10px;
      border: 1px solid #cc0d52;
      border-radius: 10px;
      background: #cc523e;
      margin-left: 5px;
      cursor: pointer;
      position: relative;
      i {
        font-size: 15px;
        position: absolute;
        bottom: -3px;
        left: 2px;
        display: none;
        &:hover {
          display: block;
        }
      }
    }
  }
  &--body {
    min-height: 200px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
  }

}

.modalbg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(13, 20, 33, 0.40);
  z-index: 1;
  position: fixed;
}