@import "global";
@import "var";
@import "loading";
@import "dashboard";
@import "helicopter";

body {
  background: #232c48;
  &.lightMode {
    background: #ddd;
  }
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow-y: hidden;
  position: absolute;
}

.topLabel {
  position: fixed;
  z-index: 1000;
  top: 0;
  background: #171e35;
  width: 100%;
  border: none;
  height: 50px;
  &--score {
    float: right;
    position: absolute;
    top: 5px;
    right: 10px;
    span {
      color: gold;
      font-size: 25px;
    }
    button {
      background: transparent;
      border: none;
      font-size: 25px;
      color: #5c6979;
    }
  }
}

.engeller {
  position: inherit;
  height: 100%;
  width: 100%;
  display: flex;
  margin-left: 600px;
}

.engel {
  margin-right: 380px;
  display: inline-block;

  .engeltop {
    position: absolute;
    width: 50px;
    top: 0;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    background: transparent;

    :before, :after {
      content: '';
      display: block;
      position: absolute;
      box-sizing: border-box;
    }

    & > div {
      position: absolute;
      border-style: solid;
      border-color: #123;
      border-width: 10px 2px 0 2px;
      &.b2 {
        border-width: 5px 2px 0 2px;
        border-radius: 10px 10px 0 0;
      }
      border-radius: 10px 10px 0 0;
      background: linear-gradient(to right, #135 0%, lighten(#135, 2%) 33%, #135 100%);
      overflow: hidden;
    }

    .b1 {
      left: 0;
      width: 50px;
      height: 100%;
      z-index: 100;
      transform: matrix(1, -0.3, 0, 1, 0, 0) rotateX(180deg);
    }
    .b2 {
      width: 10px;
      height: 100%;
      background: linear-gradient(to right, #135 0%, lighten(#135, 2%) 33%, #135 100%);
      transform: skewY(10deg) rotateX(180deg);
      z-index: 99;
      position: absolute;
      left: -10px;
    }

    /* LIGHT ON */

    $window: rgba(0, 0, 0, .2);

    @function window($c) {
      $val: 0px 0px $c;
      @for $i from 0 through 20 {
        @for $j from 0 through 30 {
          $d: random(25);
          $o: random(2);
          $val: #{$val}, #{$i*10}px #{$j*10}px darken(rgba(255, 130, 0, $o), $d + 0%);
        }
      }
      @return $val;
    }

    @mixin w($c) {
      box-shadow: window($c);
    }

    & > div:after {
      content: '';
      top: 5px;
      left: 0;
      width: 5px;
      height: 5px;
      @include w($window);
    }

    /* LIGHT OFF */

    @function window($c) {
      $val: 0px 0px $c;
      @for $i from 0 through 20 {
        @for $j from 0 through 30 {
          $d: random(25);
          $o: random(2);
          $val: #{$val}, #{$i*10}px #{$j*10}px $window;
        }
      }
      @return $val;
    }

    @mixin w($c) {
      box-shadow: window($c);
    }

    & > div:before {
      content: '';
      top: 5px;
      left: 0;
      width: 5px;
      height: 5px;
      background: $window;
      @include w($window);
    }

  }

  .engelbottom {
    position: absolute;
    bottom: 0;
    width: 50px;
    box-shadow: -1px -20px 38px rgba(0, 0, 0, 0.3), -2px -6px 12px rgba(0, 0, 0, 0.22);

    :before, :after {
      content: '';
      display: block;
      position: absolute;
      box-sizing: border-box;
    }

    & > div {
      position: absolute;
      border-style: solid;
      border-color: #123;
      border-width: 11px 2px 0 2px;
      &.b2 {
        border-width: 6px 2px 0 2px;
        border-radius: 10px 10px 0 0;
      }
      border-radius: 10px 10px 0 0;
      background: linear-gradient(to right, #135 0%, lighten(#135, 2%) 33%, #135 100%);
      overflow: hidden;
    }

    .b1 {
      left: 0;
      bottom: 0;
      width: 50px;
      height: 100%;
      z-index: 100;
      transform: matrix(1, -0.3, 0, 1, 0, 0);
    }

    .b2 {
      width: 10px;
      height: 100%;
      background: linear-gradient(to right, #135 0%, lighten(#135, 2%) 33%, #135 100%);
      transform: skewY(10deg);
      z-index: 99;
      position: absolute;
      left: -10px;
    }

    /* LIGHT ON */

    $window: rgba(0, 0, 0, .2);

    @function window($c) {
      $val: 0px 0px $c;
      @for $i from 0 through 20 {
        @for $j from 0 through 30 {
          $d: random(25);
          $o: random(2);
          $val: #{$val}, #{$i*10}px #{$j*10}px darken(rgba(255, 130, 0, $o), $d + 0%);
        }
      }
      @return $val;
    }

    @mixin w($c) {
      box-shadow: window($c);
    }

    & > div:after {
      content: '';
      top: 5px;
      left: 0;
      width: 5px;
      height: 5px;
      @include w($window);
    }

    /* LIGHT OFF */

    @function window($c) {
      $val: 0px 0px $c;
      @for $i from 0 through 20 {
        @for $j from 0 through 30 {
          $d: random(25);
          $o: random(2);
          $val: #{$val}, #{$i*10}px #{$j*10}px $window;
        }
      }
      @return $val;
    }

    @mixin w($c) {
      box-shadow: window($c);
    }

    & > div:before {
      content: '';
      top: 5px;
      left: 0;
      width: 5px;
      height: 5px;
      background: $window;
      @include w($window);
    }
  }
}

body::-webkit-scrollbar, #app::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}