.helicopter {
  &.red {
    .tail {
      border-right: 84px solid red !important;
    }
    .cockpit {
      background-color: red !important;
    }
    .main {
      border-bottom: 30px solid red!important;
    }
  }
  &.green {
    .tail {
      border-right: 84px solid green !important;
    }
    .cockpit {
      background-color: green !important;
    }
    .main {
      border-bottom: 30px solid green!important;
    }
  }
  &.orange {
    .tail {
      border-right: 84px solid orange !important;
    }
    .cockpit {
      background-color: orange !important;
    }
    .main {
      border-bottom: 30px solid orange!important;
    }
  }
}